<!DOCTYPE html>
<html lang="en" ng-app="NetworkingAngularApp">
<head>
    <meta charset="UTF-8">
    <title>Event Networking Home</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/networking-ng-controller.js"></script>
</head>
<body ng-controller="SampleController">

{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

On event networking page!!
<br/><br/>
Email: <input type="text" ng-model="email"/> <br/>
First name: <input type="text" ng-model="firstName"/> <br/>
Last name: <input type="text" ng-model="lastName"/> <br/>
Password: <input type="text" ng-model="password"/> <br/>
Tech skills: <input type="text" ng-model="techSkills"/> <br/>
<input type="button" ng-click="register(email, firstName, lastName, password, techSkills)" value="Send"/>

<br/>
{{loginContainer}}

<br/><br/><br/><br/><br/>
OR login to your existing account:<br/>
Email: <input type="text" ng-model="loginEmail"/> <br/>
Password: <input type="text" ng-model="loginPassword"/> <br/>
<input type="button" ng-click="login(loginEmail, loginPassword)" value="Send"/>

{{loginContainerForLogin}}


<br/><br/><br/><br/><br/>
Add an event:<br/>
Event name: <input type="text" ng-model="newEventName"/> <br/>
Location: <input type="text" ng-model="newEventLocation"/> <br/>
Date: <input type="text" ng-model="newEventDate"/> <br/>
Time: <input type="text" ng-model="newEventTime"/> <br/>
<input type="button" ng-click="createNewEvent(newEventName, newEventLocation, newEventDate, newEventTime)" value="Create"/> <br/>

<br/>
All Events: <br/>
<span ng-repeat="currentEvent in allEvents">
    {{currentEvent}} <br/>
</span>

<br/><br/><br/><br/><br/>
Join an event: (Note: just for testing. Can get these from /viewusers.json and /getAllEvents.json)<br/>
Your user id: <input type="number" ng-model="myUserId"/>
Event id: <input type="number" ng-model="eventIWantToJoinId"/>
<input type="button" ng-click="joinEvent(myUserId, eventIWantToJoinId)" value="Join"/> <br/>

<br/>
Updated attendees at this event: <br/>
<span ng-repeat="currentAttendee in eventAttendees">
    {{currentAttendee}} <br/>
</span>



<!--<br/><br/><br/><br/><br/>-->
<!--Request to see another attendee's info:-->
<!--Your userId: <input type="number" ng-model="requesterUserId"/> <br/>-->
<!--Their userId: <input type="number" ng-model="requesteeUserId"/> <br/>-->
<!--<input type="button" ng-click="viewUserInfo(requesterUserId, requesteeUserId)" value="Go"/> <br/>-->
<!--Response: {{friendContainer}} <br/><br/>-->

<br/><br/><br/><br/><br/>
Add this person to my friend list so that they can see my email: <br/>
My user ID: <input type="number" ng-model="myUserIdAllow"/> <br/>
Person who is requesting to be my friend's ID: <input type="number" ng-model="friendUserIdAllow"/> <br/>
<input type="button" ng-click="addToMyFriendList(myUserIdAllow, friendUserIdAllow)" value="Update"/> <br/>
User who is now on my friend list: {{addToMyFriendListUser.firstName}} {{addToMyFriendListUser.lastName}} <br/><br/>


<br/><br/><br/><br/><br/>
Test -- Do I have access to this person's email?? <br/>
My user ID: <input type="number" ng-model="myUserIdCheck"/> <br/>
Their user ID: <input type="number" ng-model="theirUserIdCheck"/> <br/>
<input type="button" ng-click="checkIfIHaveAccess(myUserIdCheck, theirUserIdCheck)" value="Check"/> <br/>
If yes, should get a their user object back.
If no, should get error message. <br/>
{{doIHaveAccess}} <br/><br/>

</body>
</html>