<!DOCTYPE html>
<html lang="en" ng-app="NetworkingAngularApp">
<head>
    <meta charset="UTF-8">
    <title>Event Networking Home</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/networking-ng-controller.js"></script>
</head>
<body ng-controller="SampleController">

{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

On event networking page!!
<br/><br/>
Email: <input type="text" ng-model="email"/> <br/>
First name: <input type="text" ng-model="firstName"/> <br/>
Last name: <input type="text" ng-model="lastName"/> <br/>
Password: <input type="text" ng-model="password"/> <br/>
Tech skills: <input type="text" ng-model="techSkills"/> <br/>
<input type="button" ng-click="register(email, firstName, lastName, password, techSkills)" value="Send"/>

<br/>
{{loginContainer}}

<br/><br/><br/><br/><br/><br/><br/>
OR login to your existing account:<br/>
Email: <input type="text" ng-model="loginEmail"/> <br/>
Password: <input type="text" ng-model="loginPassword"/> <br/>
<input type="button" ng-click="login(loginEmail, loginPassword)" value="Send"/>

{{loginContainerForLogin}}


<br/><br/><br/><br/><br/><br/><br/>
Add an event:<br/>
Event name: <input type="text" ng-model="newEventName"/> <br/>
Location: <input type="text" ng-model="newEventLocation"/> <br/>
Date: <input type="text" ng-model="newEventDate"/> <br/>
Time: <input type="text" ng-model="newEventTime"/> <br/>
<input type="button" ng-click="createNewEvent(newEventName, newEventLocation, newEventDate, newEventTime)" value="Create"/> <br/>

<br/>
All Events: <br/>
<span ng-repeat="currentEvent in allEvents">
    {{currentEvent}}
</span>

</body>
</html>